:root {
  --pink: #aa336a;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgba(170, 51, 106, 0.3);
  margin: 0;
}

/* Google Image and Search Bar */

.google {
  width: 100px;
  height: auto;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

.bar {
  width: 575px;
  border-radius: 30px;
  border: 1px solid var(--white);
  box-shadow: 1px 1px 8px 1px var(--pink);
}

.bar:focus-within,
.bar:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.searchbar {
  margin-left: 20px;
  height: 40px;
  width: 480px;
  background: transparent;
  border: none;
  outline: none;
  text-shadow: 2px 2px 2px var(--pink);
  color: white;
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.search {
  height: 18px;
  position: relative;
  top: 3px;
  left: -3px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

.voice {
  height: 20px;
  position: relative;
  top: 3px;
  left: -3px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

/* Navbar */

.background {
  background-image: url("./imgs/Sakura2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  width: 100%;
}

.navbar {
  display: flex;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 50%;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  width: 50%;
}

.cog {
  height: 18px;
  width: 18px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

.grid {
  height: 18px;
  width: 18px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}
.sign-button {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 7px 10px;
  color: var(--pink) !important;
  font-weight: bold;
}

.sign-button:hover {
  border: 1px solid var(--pink);
}

.sign-button:focus {
  filter: drop-shadow(2px 2px 2px var(--pink));
}

/* Second Navbar */

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  padding-bottom: 9px;
  padding-left: 101px;
  border-bottom: 1px solid white;
}

.main-nav li {
  display: inline;
  font-size: 14px;
  margin: 14px;
}

.main-nav a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px var(--pink);
}

.main-nav a:hover {
  text-decoration: underline;
  color: white;
}

/* Search Results */

.container {
  max-width: 600px;
  padding: 0px;
  margin-left: 145px;
  margin-right: auto;
  float: left;
  margin-bottom: 80px;
  color: white;
}

table,
thead,
th,
tbody {
  text-align: start;
}

/* Footer */

.container_footer {
  margin: 0 auto;
  position: fixed;
  display: block;
  bottom: 0px;
  width: 100%;
  z-index: 9999;
  left: 0px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px var(--pink);
}

.footer {
  background-image: url("./imgs/Sakura2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  color: white;
  text-shadow: 2px 2px 2px var(--pink);
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.uk {
  padding: 15px 30px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
}

.flex-display {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  height: 18px;
  width: 18px;
}

.footer-centre {
  display: flex;
  flex: 2;
  justify-content: center;
  font-size: 14px;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 25%;
  font-size: 14px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 25%;
  font-size: 14px;
}

.neutral,
.advertising,
.business,
.how-search-works,
.privacy,
.terms,
.settings {
  color: white;
  text-decoration: none;
}

.neutral:hover,
.advertising:hover,
.business:hover,
.how-search-works:hover,
.privacy:hover,
.terms:hover,
.settings:hover {
  color: white;
  text-decoration: underline;
}
