:root {
  --pink: #aa336a;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--pink);
  background-image: url("./imgs/Sakura2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

/* Navbar */

.navbar {
  display: flex;
  font-size: 14px;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 50%;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  width: 50%;
}

.about,
.store,
.images,
.gmail {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px var(--pink);
}

.about:hover,
.store:hover,
.gmail:hover,
.images:hover {
  color: white;
  text-decoration: underline;
}

.grid {
  height: 18px;
  width: 18px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}
.sign-button {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 7px 10px;
  color: var(--pink);
  font-weight: bold;
}

.sign-button:hover {
  border: 1px solid var(--pink);
}

.sign-button:focus {
  filter: drop-shadow(2px 2px 2px var(--pink));
}

/* Google Image, Search Bar and Buttons */

#center {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.google {
  margin-top: 100px;
  filter: drop-shadow(2px 2px 2px var(--pink));
  width: 300px;
  height: 220px;
}

.bar {
  width: 575px;
  border-radius: 30px;
  border: 1px solid var(--white);
  box-shadow: 1px 1px 8px 1px var(--pink);
}

.bar:focus-within,
.bar:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.searchbar {
  height: 45px;
  width: 500px;
  background: transparent;
  border: none;
  outline: none;
  text-shadow: 2px 2px 2px var(--pink);
  color: white;
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.search {
  height: 18px;
  position: relative;
  top: 3px;
  left: -3px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

.voice {
  height: 20px;
  position: relative;
  top: 3px;
  right: -3px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

.buttons {
  margin-top: 30px;
}

.button {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px;
  padding: 9px 19px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  color: var(--pink);
  font-size: 15px;
}
.button:hover {
  border: 1px solid var(--pink);
  padding: 9px 19px;
  color: var(--pink);
}
.button:focus {
  filter: drop-shadow(2px 2px 2px var(--pink));
}

/* Footer */

.container_footer {
  margin: 0 auto;
  position: fixed;
  display: block;
  bottom: 0px;
  width: 100%;
  z-index: 9999;
  left: 0px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px var(--pink);
}

.footer {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

.uk {
  padding: 15px 30px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
}

.flex-display {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  height: 18px;
  width: 18px;
}

.footer-centre {
  display: flex;
  flex: 2;
  justify-content: center;
  font-size: 14px;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 25%;
  font-size: 14px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 25%;
  font-size: 14px;
}

.neutral,
.advertising,
.business,
.how-search-works,
.privacy,
.terms,
.settings {
  color: white;
  text-decoration: none;
}

.neutral:hover,
.advertising:hover,
.business:hover,
.how-search-works:hover,
.privacy:hover,
.terms:hover,
.settings:hover {
  color: white;
  text-decoration: underline;
}
