:root {
  --pink: #aa336a;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(170, 51, 106, 0.3);
}

.background {
  background-image: url("./imgs/Sakura2.jpg");
  background-position: top;
}

/* Navbar */

.navbar {
  color: var(--pink);
  padding: 2px;
  font-size: 14px;
}

.navbar-brand {
  filter: drop-shadow(2px 2px 2px var(--pink));
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.images {
  text-decoration: none;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--pink);
}

.store {
  text-decoration: none;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--pink);
}

.gmail {
  text-decoration: none;
  margin-right: 10px;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--pink);
}
.about {
  text-decoration: none;
  margin-right: 10px;
  padding-right: 5px;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--pink);
}

.about:hover,
.store:hover {
  color: var(--white);
  text-decoration: underline;
}

.gmail:hover,
.images:hover {
  color: var(--white);
  text-decoration: underline;
}

.grid {
  height: 23px;
  bottom: 4px;
  margin-right: 10px;
  margin-left: 10px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}
.signbutton {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--pink);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 7px 10px;
  bottom: 7px;
  font-weight: bold;
  margin-right: 10px;
}

.signbutton:hover {
  border: 1px solid var(--pink);
  color: var(--pink);
}

.cog {
  filter: drop-shadow(2px 2px 2px var(--pink));
}

/* Search Bar */

.bar {
  margin: 0 auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid var(--white);
  vertical-align: middle;
  box-shadow: 1px 1px 8px 1px var(--pink);
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px var(--pink);
  outline: none;
}
.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
  background: transparent;
  color: var(--white);
  text-shadow: 2px 2px var(--pink);
  text-indent: 20px;
}

.search {
  height: 18px;
  position: relative;
  top: -4px;
  left: 10px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

.voice {
  height: 20px;
  position: relative;
  top: -4px;
  left: 3px;
  filter: drop-shadow(2px 2px 2px var(--pink));
}

/* Second Navbar */

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  padding-bottom: 9px;
  padding-left: 101px;
  border-bottom: 1px solid white;
}

.main-nav li {
  display: inline;
  font-size: 0.8em;
  margin: 14px;
}

.main-nav a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px var(--pink);
}

.main-nav a:hover {
  text-decoration: underline;
  color: white;
}

/* Search Results */

.container {
  padding: 0px;
  border: 0px;
  margin-left: 145px;
  margin-right: 145px;
}

/* Footer */

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  background-image: url("./imgs/Sakura2.jpg");
  background-position: bottom;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--pink);
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-centre:hover,
.advertising:hover,
.business:hover,
.how-search-works:hover,
.privacy:hover,
.terms:hover,
.settings:hover {
  color: var(--white) !important;
  text-decoration: underline;
}
.uk {
  padding: 15px 30px;
  border-bottom: 1px solid var(--white);
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
}

.flex-display {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-centre {
  flex: 2;
  text-align: center;
  font-size: 14px;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 25%;
  font-size: 14px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 25%;
  font-size: 14px;
}

.footer-centre,
.advertising,
.business,
.how-search-works,
.privacy,
.terms,
.settings {
  color: var(--white) !important;
  text-decoration: none;
}
